<p>Angular 14 application using SCSS, HTTP API call, Dependency Injection, Angular Animation, Ripple.</p>
<p>Application displays the current time, Full name, Logo, Footer with image and link, Boxes with mouse position on the screen, Carousel, Button with Ripple effect, Description and List of Citys.</p>
<button class="ripple" (click)="getCountryList()">Button</button>
<div *ngIf="countryList">
  <div *ngFor="let country of countryList" class="countryBox">
    <p>{{country.city}}</p>
    <p>{{country.country}}</p>
    <img [src]="'assets/images/'+country.img" />
  </div>
</div>
